WindowsFormsApplication1/Web References/WSSalesStatistic/SalesStatistic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/salesstatistic" targetNamespace="urn:microsoft-dynamics-schemas/page/salesstatistic" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/salesstatistic" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesStatistic">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Type" type="tns:Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LineAmountGeneral" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InvDiscountAmount_General" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAmount1_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VATAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAmount2_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_1_x005D__Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitLCY_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AdjProfitLCY_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitPct_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AdjProfitPct_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Units_per_Parcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Net_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Gross_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Unit_Volume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_1_x005D__Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAdjCostLCY_x005B_1_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAdjCostLCY_x005B_1_x005D__TotalSalesLineLCY_x005B_1_x005D__Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NoOfVATLines_General" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AmountInclVAT_Invoicing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InvDiscountAmount_Invoicing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalInclVAT_Invoicing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VATAmount_Invoicing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalExclVAT_Invoicing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_2_x005D__Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitLCY_x005B_2_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AdjProfitLCY_x005B_2_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitPct_x005B_2_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AdjProfitPct_x005B_2_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_2_x005D__Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_2_x005D__Units_per_Parcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_2_x005D__Net_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_2_x005D__Gross_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_2_x005D__Unit_Volume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_2_x005D__Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAdjCostLCY_x005B_2_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAdjCostLCY_x005B_2_x005D__TotalSalesLineLCY_x005B_2_x005D__Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NoOfVATLines_Invoicing" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Inv_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAmount1_x005B_3_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VATAmount_x005B_3_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalAmount2_x005B_3_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_3_x005D__Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLineLCY_x005B_3_x005D__Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitLCY_x005B_3_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitPct_x005B_3_x005D_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Units_per_Parcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Net_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Gross_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_3_x005D__Unit_Volume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TempVATAmountLine3_COUNT" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrepmtTotalAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrepmtVATAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrepmtTotalAmount2" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_Inv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrepmtInvPct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_Deducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrepmtDeductedPct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_to_Deduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TempVATAmountLine4_COUNT" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cust_Balance_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cust_Credit_Limit_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CreditLimitLCYExpendedPct" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesStatistic_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="SalesStatistic" type="tns:SalesStatistic" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SalesStatistic_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Document_Type" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="LineAmountGeneral" />
          <xsd:enumeration value="InvDiscountAmount_General" />
          <xsd:enumeration value="TotalAmount1_x005B_1_x005D_" />
          <xsd:enumeration value="VATAmount" />
          <xsd:enumeration value="TotalAmount2_x005B_1_x005D_" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_1_x005D__Amount" />
          <xsd:enumeration value="ProfitLCY_x005B_1_x005D_" />
          <xsd:enumeration value="AdjProfitLCY_x005B_1_x005D_" />
          <xsd:enumeration value="ProfitPct_x005B_1_x005D_" />
          <xsd:enumeration value="AdjProfitPct_x005B_1_x005D_" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Quantity" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Units_per_Parcel" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Net_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Gross_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Unit_Volume" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_1_x005D__Unit_Cost_LCY" />
          <xsd:enumeration value="TotalAdjCostLCY_x005B_1_x005D_" />
          <xsd:enumeration value="TotalAdjCostLCY_x005B_1_x005D__TotalSalesLineLCY_x005B_1_x005D__Unit_Cost_LCY" />
          <xsd:enumeration value="NoOfVATLines_General" />
          <xsd:enumeration value="AmountInclVAT_Invoicing" />
          <xsd:enumeration value="InvDiscountAmount_Invoicing" />
          <xsd:enumeration value="TotalInclVAT_Invoicing" />
          <xsd:enumeration value="VATAmount_Invoicing" />
          <xsd:enumeration value="TotalExclVAT_Invoicing" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_2_x005D__Amount" />
          <xsd:enumeration value="ProfitLCY_x005B_2_x005D_" />
          <xsd:enumeration value="AdjProfitLCY_x005B_2_x005D_" />
          <xsd:enumeration value="ProfitPct_x005B_2_x005D_" />
          <xsd:enumeration value="AdjProfitPct_x005B_2_x005D_" />
          <xsd:enumeration value="TotalSalesLine_x005B_2_x005D__Quantity" />
          <xsd:enumeration value="TotalSalesLine_x005B_2_x005D__Units_per_Parcel" />
          <xsd:enumeration value="TotalSalesLine_x005B_2_x005D__Net_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_2_x005D__Gross_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_2_x005D__Unit_Volume" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_2_x005D__Unit_Cost_LCY" />
          <xsd:enumeration value="TotalAdjCostLCY_x005B_2_x005D_" />
          <xsd:enumeration value="TotalAdjCostLCY_x005B_2_x005D__TotalSalesLineLCY_x005B_2_x005D__Unit_Cost_LCY" />
          <xsd:enumeration value="NoOfVATLines_Invoicing" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Line_Amount" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Inv_Discount_Amount" />
          <xsd:enumeration value="TotalAmount1_x005B_3_x005D_" />
          <xsd:enumeration value="VATAmount_x005B_3_x005D_" />
          <xsd:enumeration value="TotalAmount2_x005B_3_x005D_" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_3_x005D__Amount" />
          <xsd:enumeration value="TotalSalesLineLCY_x005B_3_x005D__Unit_Cost_LCY" />
          <xsd:enumeration value="ProfitLCY_x005B_3_x005D_" />
          <xsd:enumeration value="ProfitPct_x005B_3_x005D_" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Quantity" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Units_per_Parcel" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Net_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Gross_Weight" />
          <xsd:enumeration value="TotalSalesLine_x005B_3_x005D__Unit_Volume" />
          <xsd:enumeration value="TempVATAmountLine3_COUNT" />
          <xsd:enumeration value="PrepmtTotalAmount" />
          <xsd:enumeration value="PrepmtVATAmount" />
          <xsd:enumeration value="PrepmtTotalAmount2" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_Inv" />
          <xsd:enumeration value="PrepmtInvPct" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_Deducted" />
          <xsd:enumeration value="PrepmtDeductedPct" />
          <xsd:enumeration value="TotalSalesLine_x005B_1_x005D__Prepmt_Amt_to_Deduct" />
          <xsd:enumeration value="TempVATAmountLine4_COUNT" />
          <xsd:enumeration value="Cust_Balance_LCY" />
          <xsd:enumeration value="Cust_Credit_Limit_LCY" />
          <xsd:enumeration value="CreditLimitLCYExpendedPct" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesStatistic_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:SalesStatistic_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Document_Type" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesStatistic" type="tns:SalesStatistic" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesStatistic" type="tns:SalesStatistic" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:SalesStatistic_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:SalesStatistic_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesStatistic" type="tns:SalesStatistic" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesStatistic" type="tns:SalesStatistic" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesStatistic_List" type="tns:SalesStatistic_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesStatistic_List" type="tns:SalesStatistic_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="SalesStatistic_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="SalesStatistic_Binding" type="tns:SalesStatistic_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesstatistic:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="SalesStatistic_Service">
    <port name="SalesStatistic_Port" binding="tns:SalesStatistic_Binding">
      <address location="http://mail.akudim.dk:7047/UDVIKLING/WS/AKUDIM/Page/SalesStatistic" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>